.ResizableLayout-Handle {
    cursor: ew-resize;
    width: 3px;
    opacity: 0.5;
}

.ResizableLayout {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.ResizableLayout-Content {
    flex: 1;
}