:root {
  --colorPrimary: #a62a2a;
  --colorPrimaryContainer: #f15555;
  --colorBackground: #fff2f2;
  --colorOnBackground: #2f1c1c;
  --navigationColor: #ffdfdf;
  --colorSurface: #e3c3c3;
}

html {
  overflow: hidden;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.17);
  border-radius: var(--zui-containers-round);
}

::-webkit-scrollbar {
  width: 7px;
}